Um supermercado deseja analisar o desempenho de vendas de produtos em diferentes regiões. Eles têm o seguinte registro de vendas que contém informações sobre o produto, a quantidade vendida e a região onde foi vendido. Crie um DataFrame com esses dados e filtre-o para mostrar apenas as vendas realizadas na região 'Sudeste'.

- **Produto: camisa**<br>
100 vendas para a região Sudeste.
- **Produto: calça**<br>
150 vendas para a região Nordeste.
- **Produto: tênis**<br>
80 vendas para a região Sudeste.
- **Produto: boné**<br>
120 vendas para a região Norte.
- **Produto: mochila**<br>
90 vendas para a região Sudeste.

Uma empresa de e-commerce está interessada em entender o comportamento de compra dos clientes. Eles têm o seguinte registro de transações que contém informações sobre o valor da compra e o método de pagamento utilizado. Crie um DataFrame com esses dados e calcule estatísticas básicas, como média, mediana, mínimo e máximo para cada coluna.

```
dados = {
    'valor_compra': [100.0, 150.5, 80.3, 120.8, 90.2],
    'metodo_pagamento': ['Cartão', 'Boleto', 'Cartão', 'Cartão', 'Boleto']
}

```

Um instituto de pesquisa coletou dados sobre o desempenho acadêmico dos alunos em diferentes disciplinas. Eles têm um registro de notas dos alunos que contém informações sobre o nome do aluno, a disciplina, a nota obtida e o nível de dificuldade da disciplina. Crie um DataFrame com esses dados e agrupe-o por disciplina para calcular a média das notas obtidas pelos alunos. Em seguida, crie uma nova coluna que indique se a nota do aluno está acima ou abaixo da média da disciplina (tente usar a função apply).

```
dados = {
    'aluno': ['Ana', 'João', 'Maria', 'Pedro', 'Carla'],
    'disciplina': ['Matemática', 'Português', 'Matemática', 'Português', 'Ciências'],
    'nota': [8, 7, 6, 9, 8],
    'dificuldade': ['Alta', 'Baixa', 'Alta', 'Baixa', 'Média']
}
```