Um supermercado deseja analisar o desempenho de vendas de produtos em diferentes regiões. Eles têm o seguinte registro de vendas que contém informações sobre o produto, a quantidade vendida e a região onde foi vendido. Crie um DataFrame com esses dados e filtre-o para mostrar apenas as vendas realizadas na região 'Sudeste'.

- **Produto: camisa**<br>
100 vendas para a região Sudeste.
- **Produto: calça**<br>
150 vendas para a região Nordeste.
- **Produto: tênis**<br>
80 vendas para a região Sudeste.
- **Produto: boné**<br>
120 vendas para a região Norte.
- **Produto: mochila**<br>
90 vendas para a região Sudeste.

In [8]:
import pandas as pd
data = [
    ['camisa', 'Sudeste', 100],
    ['calca', 'Nordeste', 150],
    ['tenis', 'Sudeste', 80],
    ['bone', 'Norte', 120],
    ['mochila', 'Sudeste', 90]
]

columns = ['Produto', 'Regiao', 'Quantidade']
df = pd.DataFrame(data, columns=columns)

sudeste_df = df[df['Regiao'] == 'Sudeste']
print(sudeste_df)

   Produto   Regiao  Quantidade
0   camisa  Sudeste         100
2    tenis  Sudeste          80
4  mochila  Sudeste          90

Uma empresa de e-commerce está interessada em entender o comportamento de compra dos clientes. Eles têm o seguinte registro de transações que contém informações sobre o valor da compra e o método de pagamento utilizado. Crie um DataFrame com esses dados e calcule estatísticas básicas, como média, mediana, mínimo e máximo para cada coluna.

```
dados = {
    'valor_compra': [100.0, 150.5, 80.3, 120.8, 90.2],
    'metodo_pagamento': ['Cartão', 'Boleto', 'Cartão', 'Cartão', 'Boleto']
}

```

In [14]:
dados = {
    'valor_compra': [100.0, 150.5, 80.3, 120.8, 90.2],
    'metodo_pagamento': ['Cartão', 'Boleto', 'Cartão', 'Cartão', 'Boleto']
}

df = pd.DataFrame(dados)
df

   valor_compra metodo_pagamento
0         100.0           Cartão
1         150.5           Boleto
2          80.3           Cartão
3         120.8           Cartão
4          90.2           Boleto

In [15]:
df['valor_compra'].mean()

108.36000000000001

In [16]:
df['valor_compra'].median()

100.0

In [17]:
df['valor_compra'].min()

80.3

In [18]:
df['valor_compra'].max()

150.5

Um instituto de pesquisa coletou dados sobre o desempenho acadêmico dos alunos em diferentes disciplinas. Eles têm um registro de notas dos alunos que contém informações sobre o nome do aluno, a disciplina, a nota obtida e o nível de dificuldade da disciplina. Crie um DataFrame com esses dados e agrupe-o por disciplina para calcular a média das notas obtidas pelos alunos. Em seguida, crie uma nova coluna que indique se a nota do aluno está acima ou abaixo da média da disciplina (tente usar a função apply).

```
dados = {
    'aluno': ['Ana', 'João', 'Maria', 'Pedro', 'Carla'],
    'disciplina': ['Matemática', 'Português', 'Matemática', 'Português', 'Ciências'],
    'nota': [8, 7, 6, 9, 8],
    'dificuldade': ['Alta', 'Baixa', 'Alta', 'Baixa', 'Média']
}
```

In [34]:
dados = {
    'aluno': ['Ana', 'João', 'Maria', 'Pedro', 'Carla'],
    'disciplina': ['Matemática', 'Português', 'Matemática', 'Português', 'Ciências'],
    'nota': [8, 7, 6, 9, 8],
    'dificuldade': ['Alta', 'Baixa', 'Alta', 'Baixa', 'Média']
}

df = pd.DataFrame(dados)
df

   aluno  disciplina  nota dificuldade
0    Ana  Matemática     8        Alta
1   João   Português     7       Baixa
2  Maria  Matemática     6        Alta
3  Pedro   Português     9       Baixa
4  Carla    Ciências     8       Média

In [35]:
matematica_df = df[df['disciplina'] == 'Matemática']
mate_mean= matematica_df['nota'].mean()
matematica_df

   aluno  disciplina  nota dificuldade
0    Ana  Matemática     8        Alta
2  Maria  Matemática     6        Alta

In [37]:
# Adição da nova coluna indicando se a nota está acima ou abaixo da média da disciplina
matematica_df['acima_da_media'] = matematica_df['nota'] > mate_mean
matematica_df

C:\Users\Drac3\AppData\Local\Temp\ipykernel_23036\2451435041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matematica_df['acima_da_media'] = matematica_df['nota'] > mate_mean

   aluno  disciplina  nota dificuldade  acima_da_media
0    Ana  Matemática     8        Alta            True
2  Maria  Matemática     6        Alta           False

In [25]:
port_df = df[df['disciplina'] == 'Português']
port_mean= port_df['nota'].mean()
port_df

8.0

In [38]:
port_df['acima_da_media'] = port_df['nota'] > port_mean
port_df

C:\Users\Drac3\AppData\Local\Temp\ipykernel_23036\3529160121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  port_df['acima_da_media'] = port_df['nota'] > port_mean

   aluno disciplina  nota dificuldade  acima_da_media
1   João  Português     7       Baixa           False
3  Pedro  Português     9       Baixa            True

In [26]:
ciencias_df = df[df['disciplina'] == 'Ciências']
ciencias_mean= ciencias_df['nota'].mean()
ciencias_mean

8.0

In [42]:
ciencias_df['acima_da_media'] = ciencias_df['nota'] > ciencias_mean
ciencias_df

C:\Users\Drac3\AppData\Local\Temp\ipykernel_23036\765593865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ciencias_df['acima_da_media'] = ciencias_df['nota'] > ciencias_mean

   aluno disciplina  nota dificuldade  acima_da_media
4  Carla   Ciências     8       Média           False

In [44]:
df

   aluno  disciplina  nota dificuldade  acima_da_media
0    Ana  Matemática     8        Alta            True
1   João   Português     7       Baixa           False
2  Maria  Matemática     6        Alta           False
3  Pedro   Português     9       Baixa            True
4  Carla    Ciências     8       Média           False

In [43]:
# Cálculo da média das notas por disciplina
media_notas = df.groupby('disciplina')['nota'].transform('mean')

# Adição da nova coluna indicando se a nota está acima ou abaixo da média da disciplina
df['acima_da_media'] = df['nota'] > media_notas

df

   aluno  disciplina  nota dificuldade  acima_da_media
0    Ana  Matemática     8        Alta            True
1   João   Português     7       Baixa           False
2  Maria  Matemática     6        Alta           False
3  Pedro   Português     9       Baixa            True
4  Carla    Ciências     8       Média           False