In [1]:
#funções lambda


def quadrado(x):
    return x**2

quadrado(2)

4

In [3]:
quad_lam = lambda x:x** 2

quad_lam(6)

36

In [4]:
f = lambda x: 'even'if (x%2==0) else 'odd'

print(5,f(5))

5 odd

In [5]:
print(10, f(10))

10 even

In [7]:
lista_num = [1,3,4,2,5,6,12,43,54,65]

odd_or_even = [f(i) for i in lista_num]
odd_or_even

['odd', 'odd', 'even', 'even', 'odd', 'even', 'even', 'odd', 'even', 'odd']

In [8]:
lista_num = [1,3,4,2,5,6,12,43,54,65]

odd_or_even = {i:f(i) for i in lista_num}
odd_or_even

{1: 'odd',
 3: 'odd',
 4: 'even',
 2: 'even',
 5: 'odd',
 6: 'even',
 12: 'even',
 43: 'odd',
 54: 'even',
 65: 'odd'}

In [9]:
coisas = ["oi", "tchau", "celular", "tv", "pc", "mouse"]
_ = [print(i) for i in coisas]

oi
tchau
celular
tv
pc
mouse

In [11]:
coisas.sort(key = len)
coisas

['oi', 'pc', 'tv', 'mouse', 'tchau', 'celular']

In [14]:
lista_nomes = ["Kevin Aragão de Castro", "Priscila Soraya de Padilha", "Roberta Escobar de Godói", "Lucas Estevão Assunção de Macedo", "Guilherme Denis Garcia Madeira de Pereira", "Juliana Ferreira Serra", "Beatriz Galvão de Alcântara", "Altino Dário de Dominato Filho", "Cauê João Azevedo de Delvalle", "Jackson Kevin de Medina"]

lista_nomes.sort(key = lambda nome: nome.split()[1].lower())
lista_nomes

['Kevin Aragão de Castro',
 'Guilherme Denis Garcia Madeira de Pereira',
 'Altino Dário de Dominato Filho',
 'Roberta Escobar de Godói',
 'Lucas Estevão Assunção de Macedo',
 'Juliana Ferreira Serra',
 'Beatriz Galvão de Alcântara',
 'Cauê João Azevedo de Delvalle',
 'Jackson Kevin de Medina',
 'Priscila Soraya de Padilha']



Escreva uma expressão lambda que permita receber uma string contendo duas palavras relativas ao nome de uma pessoa e seu sobrenome. Essas são separadas por um ou mais espaços em branco. A expressão deve retornar o nome no formato: "SOBRENOME, N."

Exemplo:
```
nome = 'Dennis   ritchie'
```

Retorno:
```
RITCHIE, D.
```

A seguir escreva um comprehension que percorra uma lista contendo nomes e gere uma nova lista com os nomes no formato "SOBRENOME, N."

Exemplo:
```
nomes = ['Dennis   ritchie', 'ALAN  Turing', 'betty Holberton']
```

Retorno:
```
['RITCHIE, D.', 'TURING, A.', 'HOLBERTON, B.']
```

In [68]:
formatar_nome_1 = lambda nome: nome.split()[-1].upper()+", "+ nome.split()[0][0].upper()+"."

nomes = ['Dennis   ritchie', 'ALAN  Turing', 'betty Holberton']

nomes_formatados_1 = [formatar_nome_1(nome) for nome in nomes]
nomes_formatados_1

['RITCHIE, D.', 'TURING, A.', 'HOLBERTON, B.']

In [69]:
formatar_nome_2 = lambda nome: ', '.join([nome.split()[-1].upper(), nome.split()[0][0].upper()]) + "."

nomes = ['Dennis   ritchie', 'ALAN  Turing', 'betty Holberton']
nomes_formatados_2 = [formatar_nome_2(nome) for nome in nomes]
nomes_formatados_2

['RITCHIE, D.', 'TURING, A.', 'HOLBERTON, B.']