In [3]:
#pandas 
import numpy as np 
import pandas as pd

In [4]:
dados = np.array([
  [1.69, 87.0],
  [1.59, 56.5],
  [1.69, 90.3],
  [1.74, 130]
])
dados

array([[  1.69,  87.  ],
       [  1.59,  56.5 ],
       [  1.69,  90.3 ],
       [  1.74, 130.  ]])

In [5]:
df = pd.DataFrame(
    data = dados,
    columns = ['Peso', 'Altura'],
    index = ['Ronaldinho', 'Rivaldo', 'Arrascaeta', 'Gabigol']
)
print(df)

            Peso  Altura
Ronaldinho  1.69    87.0
Rivaldo     1.59    56.5
Arrascaeta  1.69    90.3
Gabigol     1.74   130.0

In [6]:
df = pd.DataFrame(
    data = dados,
    columns = ['Peso', 'Altura']
)
print(df)

   Peso  Altura
0  1.69    87.0
1  1.59    56.5
2  1.69    90.3
3  1.74   130.0

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df['Altura']

0     87.0
1     56.5
2     90.3
3    130.0
Name: Altura, dtype: float64

In [10]:
serie = pd.Series([87.0, 56.5, 90.3, 78.6], index=['Fulano', 'Sicrana', 'Beltrana', 'João'])
serie

Fulano      87.0
Sicrana     56.5
Beltrana    90.3
João        78.6
dtype: float64

In [11]:
print(serie)

Fulano      87.0
Sicrana     56.5
Beltrana    90.3
João        78.6
dtype: float64