In [2]:
#pandas 
import numpy as np 
import pandas as pd

C:\Users\Drac3\AppData\Local\Temp\ipykernel_2328\55406116.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
dados = np.array([
  [1.69, 87.0],
  [1.59, 56.5],
  [1.69, 90.3],
  [1.74, 130]
])
dados

array([[  1.69,  87.  ],
       [  1.59,  56.5 ],
       [  1.69,  90.3 ],
       [  1.74, 130.  ]])

In [5]:
df = pd.DataFrame(
    data = dados,
    columns = ['Peso', 'Altura'],
    index = ['Ronaldinho', 'Rivaldo', 'Arrascaeta', 'Gabigol']
)
print(df)

            Peso  Altura
Ronaldinho  1.69    87.0
Rivaldo     1.59    56.5
Arrascaeta  1.69    90.3
Gabigol     1.74   130.0

In [6]:
df = pd.DataFrame(
    data = dados,
    columns = ['Peso', 'Altura']
)
print(df)

   Peso  Altura
0  1.69    87.0
1  1.59    56.5
2  1.69    90.3
3  1.74   130.0

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df['Altura']

0     87.0
1     56.5
2     90.3
3    130.0
Name: Altura, dtype: float64

In [3]:
serie = pd.Series([87.0, 56.5, 90.3, 78.6], index=['Fulano', 'Sicrana', 'Beltrana', 'João'])
serie

Fulano      87.0
Sicrana     56.5
Beltrana    90.3
João        78.6
dtype: float64

In [4]:
print(serie)

Fulano      87.0
Sicrana     56.5
Beltrana    90.3
João        78.6
dtype: float64

In [5]:
# Pandas Series
minha_lista =[10,20,30,40]

In [6]:
serie = pd.Series(minha_lista)
serie

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
serie = pd.Series(minha_lista, index=['a','b','c','d'], dtype=np.float64)
serie

a    10.0
b    20.0
c    30.0
d    40.0
dtype: float64

In [10]:
precos = pd.Series(minha_lista, index=['Air-Fryer', 'Fogao', 'Geladeira', 'Lava-loucas'])
precos

Air-Fryer      10
Fogao          20
Geladeira      30
Lava-loucas    40
dtype: int64

In [12]:
precos = pd.Series([4324,434,24324,434], index=['Air-Fryer', 'Fogao', 'Geladeira', 'Lava-loucas'], dtype=np.float64)
precos

Air-Fryer       4324.0
Fogao            434.0
Geladeira      24324.0
Lava-loucas      434.0
dtype: float64

In [13]:
precos.index

Index(['Air-Fryer', 'Fogao', 'Geladeira', 'Lava-loucas'], dtype='object')

In [14]:
minha_lista = [10,20,30,40]
serie =  pd.Series(minha_lista)
serie

0    10
1    20
2    30
3    40
dtype: int64

In [15]:
serie.index =['a','b','c','d']

In [16]:
serie.astype(np.float32)

a    10.0
b    20.0
c    30.0
d    40.0
dtype: float32

In [17]:
serie.index.astype(np.float32)

ValueError: could not convert string to float: 'a'

In [20]:
minha_lista = [10, 20, 30, 40 ]

In [22]:
serie = pd.Series(minha_lista, index=['a', 'b', 'c', 'd'], name='Números')
serie

a    10
b    20
c    30
d    40
Name: Números, dtype: int64

In [23]:
serie['c']

30

In [24]:
serie[['c','a']]

c    30
a    10
Name: Números, dtype: int64

In [25]:
serie['a':'c']

a    10
b    20
c    30
Name: Números, dtype: int64

In [26]:
serie.iloc[2]

30

In [27]:
serie.iloc[1:3]

b    20
c    30
Name: Números, dtype: int64

In [28]:
serie.loc['c']

30

In [29]:
 serie.loc['a':'c']

a    10
b    20
c    30
Name: Números, dtype: int64

In [30]:
serie.loc['c':'a']

Series([], Name: Números, dtype: int64)

In [31]:
serie

a    10
b    20
c    30
d    40
Name: Números, dtype: int64

In [32]:
serie[[True, False, True, False]]

a    10
c    30
Name: Números, dtype: int64

In [33]:
serie[serie > 15]

b    20
c    30
d    40
Name: Números, dtype: int64

In [34]:
mask = serie > 15

In [36]:
serie.loc[mask]

b    20
c    30
d    40
Name: Números, dtype: int64

In [38]:
values = pd.Series([0.5, 1.0, 1.5, 2.0], index=['b', 'd', 'a', 'c'], dtype=np.float32)
values

b    0.5
d    1.0
a    1.5
c    2.0
dtype: float32

In [39]:
serie * values

a    15.0
b    10.0
c    60.0
d    40.0
dtype: float64

In [40]:
serie

a    10
b    20
c    30
d    40
Name: Números, dtype: int64

In [42]:
other_values = pd.Series([0.5, 1.0, 1.5, 2.0], dtype=np.float32)
other_values

0    0.5
1    1.0
2    1.5
3    2.0
dtype: float32

In [43]:
serie * other_values

a   NaN
b   NaN
c   NaN
d   NaN
0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

In [44]:
valores = [1, 1, 2, 3, 5, 8, 13]

In [46]:
fibonacci = pd.Series(valores)
fibonacci.sum()

33

In [48]:
fibonacci[fibonacci > 4].sum()

26

In [49]:
valores = [1, 1, 0, 0, 1, 0, 1, 1, 1]

In [50]:
serie = pd.Series(valores)

In [51]:
serie.value_counts()

1    6
0    3
Name: count, dtype: int64

In [52]:
serie.describe()

count    9.000000
mean     0.666667
std      0.500000
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000
dtype: float64

In [53]:
fibonacci.min()

1

In [54]:
fibonacci.max()

13

In [58]:
valores =['A','A','A','C','C','C','B','B','B','A']
serie = pd.Series(valores)
serie.value_counts()

A    4
C    3
B    3
Name: count, dtype: int64

In [59]:
serie.value_counts(True)

A    0.4
C    0.3
B    0.3
Name: proportion, dtype: float64

In [60]:
pronomes = pd.Series(['eu', 'tu', 'ele/ela', 'nós', 'vós', 'eles/elas'])
pronomes

0           eu
1           tu
2      ele/ela
3          nós
4          vós
5    eles/elas
dtype: object

In [61]:
pronomes.str

In [62]:
pronomes.str.upper()

0           EU
1           TU
2      ELE/ELA
3          NÓS
4          VÓS
5    ELES/ELAS
dtype: object

In [63]:
pronomes.upper()

AttributeError: 'Series' object has no attribute 'upper'