1- Maria está acompanhando suas despesas diárias ao longo de um mês. Pra isso, ela tem as seguintes series:

dias_da_semana = ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom']
semana1 = pd.Series([50, 66, 55, 55, 23, np.nan, 92], index=dias_da_semana)
semana2 = pd.Series([np.nan, 78, 76, 66, 64, 44, 78], index=dias_da_semana)
semana3 = pd.Series([55, 75, 89, 77, 78, 57, np.nan], index=dias_da_semana)
semana4 = pd.Series([67, 34, np.nan, 25, 45, np.nan, 95], index=dias_da_semana)
Como você pode ver, para cada uma destas semanas, há um ou mais valores faltando. Dito isto:

Preencha cada valor faltante com a média do mesmo dia da semana para o conjunto das 4 semanas.
Para cada semana, imprima o gasto total, o gasto médio, o gasto mediano, o gasto máximo, o gasto mínimo e o desvio padrão.
Para cada semana, imprima o gasto total dos dias úteis e o gasto total do final de semana.

In [3]:

import pandas as pd
import numpy as np

In [4]:
dias_da_semana = ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom']
semana1 = pd.Series([50, 66, 55, 55, 23, np.nan, 92], index=dias_da_semana)
semana2 = pd.Series([np.nan, 78, 76, 66, 64, 44, 78], index=dias_da_semana)
semana3 = pd.Series([55, 75, 89, 77, 78, 57, np.nan], index=dias_da_semana)
semana4 = pd.Series([67, 34, np.nan, 25, 45, np.nan, 95], index=dias_da_semana)

In [7]:
df = pd.DataFrame([semana1,semana2,semana3,semana4], columns=dias_da_semana)
df.head()

    Seg   Ter   Qua   Qui   Sex   Sab   Dom
0  50.0  66.0  55.0  55.0  23.0   NaN  92.0
1   NaN  78.0  76.0  66.0  64.0  44.0  78.0
2  55.0  75.0  89.0  77.0  78.0  57.0   NaN
3  67.0  34.0   NaN  25.0  45.0   NaN  95.0

In [10]:
total_mean = df.mean()

In [12]:
df = df.fillna(total_mean)
df

         Seg   Ter        Qua   Qui   Sex   Sab        Dom
0  50.000000  66.0  55.000000  55.0  23.0  50.5  92.000000
1  57.333333  78.0  76.000000  66.0  64.0  44.0  78.000000
2  55.000000  75.0  89.000000  77.0  78.0  57.0  88.333333
3  67.000000  34.0  73.333333  25.0  45.0  50.5  95.000000

In [20]:
row_description = df.T.describe().T
row_description

   count       mean        std   min        25%   50%        75%   max
0    7.0  55.928571  20.628517  23.0  50.250000  55.0  60.500000  92.0
1    7.0  66.190476  12.588733  44.0  60.666667  66.0  77.000000  78.0
2    7.0  74.190476  13.578110  55.0  66.000000  77.0  83.166667  89.0
3    7.0  55.690476  24.283135  25.0  39.500000  50.5  70.166667  95.0

In [17]:
soma_linhas = df.T.sum().T
soma_linhas

0    391.500000
1    463.333333
2    519.333333
3    389.833333
dtype: float64

In [22]:
mediana_linhas = df.T.median().T
mediana_linhas

0    55.0
1    66.0
2    77.0
3    50.5
dtype: float64

In [33]:
dias_inuteis = ['Seg', 'Ter', 'Qua', 'Qui', 'Sex']
dias_bons = ['Sab', 'Dom']

In [34]:
df[dias_inuteis].sum().sum()

1208.6666666666667

In [36]:
df[dias_bons].sum().sum()

555.3333333333333

2- Você tem uma serie chamada clientes com mil posições que retratam os tomadores de crédito do seu banco e que os divide nas categorias 'cliente novo', 'cliente adimplente' e 'cliente inadimplente'. Considere o código abaixo como gerador desta lista:

valores_possiveis = ['cliente novo', 'cliente adimplente', 'cliente inadimplente']
probabilidades = np.random.dirichlet(np.ones(len(valores_possiveis)), size=1).flatten()
clientes = pd.Series(np.random.choice(valores_possiveis, size=1000, p=probabilidades))
Descubra como os clientes desta serie estão distribuídos nas três categorias, primeiro em valores absolutos e depois em valores percentuais.

In [37]:
valores_possiveis = ['cliente novo', 'cliente adimplente', 'cliente inadimplente']
probabilidades = np.random.dirichlet(np.ones(len(valores_possiveis)), size=1).flatten()
clientes = pd.Series(np.random.choice(valores_possiveis, size=1000, p=probabilidades))

In [38]:
clientes.head()

0      cliente adimplente
1      cliente adimplente
2      cliente adimplente
3    cliente inadimplente
4      cliente adimplente
dtype: object

In [42]:
clientes.value_counts()

cliente adimplente      670
cliente inadimplente    308
cliente novo             22
Name: count, dtype: int64

In [43]:
dados_clientes = (clientes.value_counts()/1000)*100
dados_clientes

cliente adimplente      67.0
cliente inadimplente    30.8
cliente novo             2.2
Name: count, dtype: float64

3- João é um gerente de uma loja de eletrônicos e está acompanhando o estoque de produtos em sua loja. Ele possui duas séries pandas, conforme o código a seguir: uma série contendo os nomes dos produtos disponíveis em estoque e outra série contendo a quantidade em estoque de cada produto.

produtos = pd.Series(['Celular', 'Tablet', 'Notebook', 'Fone de Ouvido', 'Smartwatch'])
quantidade_estoque = pd.Series([15, 8, 20, 5, 12])
João deseja filtrar os produtos que têm estoque baixo, ou seja, aqueles que têm menos de 10 unidades disponíveis. Ajude-o a fazer isso utilizando a filtragem de uma série usando outra série como máscara.

In [44]:
produtos = pd.Series(['Celular', 'Tablet', 'Notebook', 'Fone de Ouvido', 'Smartwatch'])
quantidade_estoque = pd.Series([15, 8, 20, 5, 12])

In [58]:
mask = quantidade_estoque<10

In [59]:
produtos[mask]

1            Tablet
3    Fone de Ouvido
dtype: object